.text-field {
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 0 0.0625rem gray;

    &.focused {
        box-shadow: 0 0 0 0.0625rem rgb(97, 97, 252);
    }

    input {
        flex-grow: 1;
        line-height: 1.75;
        padding: 0.25rem 0.75rem;
        border: none;

        &:focus {
            outline: none;
        }
    }
}
